<div id="landing-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Welcome to Resume Generator</h2>
      </div>
      <div class="col-lg-12">
        <p class="description">
          This is an angular application to create a sophisticated front-end developer resume. You can click on the below button to create a resume of your own !
        </p>
      </div>
      <div class="col-lg-12">
        <div class="btn-holder">
          <a href="javascript:void(0)">
            <span>Proceed to create resume</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>